.separation-two{
  width: 50%;
  /* border: 1px solid red; */
  border-radius: 1px;
  background: linear-gradient(180deg, #d80001, #ff462f);
  display: flex;
}

.separation-one{
    width: 40%;
    margin-top: 40px;
}

.mestre{
    width: 90%;
    margin-left: 5%;
    justify-content: space-between;
    display: flex;
    margin-top: 100px;
}

h3{
    font-size: 40px;
}

p{
    color: rgb(79, 79, 79);
    margin-top: 30px;
    margin-bottom: 30px;
}

.color{
    color: #ff462f;
    font-size: 30px;
}

ul.ul{
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    margin-top: 50px;
}

a{
    list-style: none;
    text-decoration: none;
    color: white;
}

.li{
    margin-top: 20px;
}

.acompanhe{
    color: white;
    font-size: 30px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
}

.img:hover{
     color: white
};

img.margi{
    margin-right: 60px;
}
